@import url('https://fonts.googleapis.com/css?family=Solway&display=swap');
@import url('https://fonts.googleapis.com/css?family=Almarai|Amiri|Lateef|Markazi+Text&display=swap');
*{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
body{
    margin: 0;
    background-color: #dfe6e9;
    overflow-x: hidden;
}
.menu{
    width: 100%;
    height: 50px;
    margin: 0;
    background-color: #353b48;
    z-index: 1;
}
.menu .menu-bar{
    width: auto;
    height: 40px;
    padding: 15px;
    font-size: 20px;
    color: aliceblue;
    float: right;
    text-align: right;
    text-decoration: none;
    cursor: pointer;
}
.menu .menu-bar:hover{
    color: #7f8fa6;
    font-weight: 200;
}
.serech-box{
    width: 100%;
    height: 60px;
    background-color: #7f8fa6; 
    margin-top: 1px;
    padding: 0px;
}
.search{
    width: 30%;
    margin: 10px;
    padding: 8px;
    border: 2px solid black;
    border-radius: 9px;
}
input[type=submit]{
    padding: 6px;
    font-size: 15px;
    border: 2px solid black;
    border-radius: 6px;
    font-weight: bolder;
    cursor: pointer;
}
.news-bar{
    background-color: #999b9ebe;
    width: 100%;
    margin: 0;
}
.news-bar p{
    margin-top: 0;
    font-size: 20px;
    color: black;
    padding: 10px;
    font-family: 'Markazi Text', serif;
    animation: news 25s linear infinite;
    -moz-animation: news 25s linear infinite;
    -webkit-animation: news 25s linear infinite;
    -o-animation: news 25s linear infinite;
    position: relative;
}
@keyframes news{
    0%{left: -250px;}
    100%{left: 100%;}
}
@-moz-keyframes news{
    0%{left: -250px;}
    100%{left: 100%;}
}
@-webkit-keyframes news{
    0%{left: -250px;}
    100%{left: 100%;}
}
@-o-keyframes news{
    0%{left: -250px;}
    100%{left: 100%;}
}
.paragraph{
    width: 60%;
    overflow: hidden;
    float: right;
    margin: 5%;
    margin-top: 0;
}
.paragraph > img{
    width: 100%;
    height: 500px;
}
.paragraph > h1{
    font-family: 'Lateef', cursive;
    text-align: center;
}
.paragraph > p{
    width: 100%;
    font-family: 'Almarai', sans-serif;
    text-align: justify;
}
article{
    width: 25%;
    overflow: hidden;
    margin: 2%;
    border: 2px solid rgb(134, 132, 132);
    border-radius: 4px;
    float: left;
}
article h2{
    float: right;
    margin-right: 25px;
    font-family: 'Lateef', cursive;
}
article > .art{
    width: 90%;
    height: 100px;
    overflow: hidden;
    margin: 5%;
}
article .art a{
    text-decoration: none;
    color: rgb(90, 86, 86);
}
article .art a:hover{
    color: rgb(19, 7, 73);
    font-weight: bold;
}
article .art > a img{
    width: 40%;
    height: 100px;
    float: right;
    border-radius: 4px;
}
article .art > a p{
    font-family: 'Almarai', sans-serif;
    float: left;
    width: 56%;
    margin-right: 2%;
}