*{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
body{
    margin: 0;
    background-color: #dfe6e9;
    overflow-x: hidden;
}
.menu{
    width: 100%;
    height: 50px;
    margin: 0;
    background-color: #353b48;
    z-index: 1;
}
.menu .menu-bar{
    width: auto;
    height: 40px;
    padding: 15px;
    font-size: 20px;
    color: aliceblue;
    float: right;
    text-align: right;
    text-decoration: none;
    cursor: pointer;
}
.menu .menu-bar:hover{
    color: #7f8fa6;
    font-weight: 200;
}
.serech-box{
    width: 100%;
    height: 60px;
    background-color: #7f8fa6; 
    margin-top: 1px;
    padding: 0px;
}
.search{
    width: 30%;
    margin: 10px;
    padding: 8px;
    border: 2px solid black;
    border-radius: 9px;
}
input[type=submit]{
    padding: 6px;
    font-size: 15px;
    border: 2px solid black;
    border-radius: 6px;
    font-weight: bolder;
    cursor: pointer;
}
.logo{
    width: 200px;
    clear: both;
    float: right;
    margin: 20px;
}
main{
    width: 90%;
    height: 500px;
    background-color: #353b48;
    border: 2px solid black;
    border-radius: 4px;
    clear: both;
    margin-left: 5%;
    margin-right: 5%;
}
main > div{
    width: 33.33%;
    height: 100%;
    float: right;
    overflow: hidden;
}
main .c1 > a img{
    width: 100%;
    height: 50%;
    border-radius: 4px;
}
main .c2 > a img{
    width: 98%;
    height: 100%;
    margin-left: 1%;
    margin-right: 1%;
    border-radius: 4px;
}
main div a img:hover{
    opacity: 0.8;
}

.news-bar{
    background-color: #999b9ebe;
    width: 100%;
    margin: 0;
}
.news-bar p{
    margin-top: 0;
    font-size: 20px;
    color: black;
    padding: 10px;
    font-family: 'Markazi Text', serif;
    animation: news 25s linear infinite;
    -moz-animation: news 25s linear infinite;
    -webkit-animation: news 25s linear infinite;
    -o-animation: news 25s linear infinite;
    position: relative;
}
@keyframes news{
    0%{left: -250px;}
    100%{left: 100%;}
}
@-moz-keyframes news{
    0%{left: -250px;}
    100%{left: 100%;}
}
@-webkit-keyframes news{
    0%{left: -250px;}
    100%{left: 100%;}
}
@-o-keyframes news{
    0%{left: -250px;}
    100%{left: 100%;}
}
body h1{
    float: right;
    margin: 50px;
    font-family: 'Lateef', cursive;
    margin-bottom: 0;
}
section {
    clear: both;
    width: 100%;
}
section .news-tech{
    width: 25%;
    height: 300px;
    margin: 4%;
    float: right;
    overflow: hidden;
    position: relative;
    border-radius: 4px;
}
section .news-tech > a img{
    width: 100%;
    height: 100%;
}
section .news-tech > a img:hover{
    border: 2px solid black;
}
section .news-tech > a h2{
    position: absolute;
    text-align: right;
    right: 10px;
    width: 80%;
    bottom: 0px;
    color: white;
    font-size: 20px;
    text-overflow: ellipsis;
    text-shadow: 2px 2px black;
    font-family: 'Lateef', cursive;
}
article{
    width: 350px;
    overflow: hidden;
    margin: 30px;
    border: 2px solid rgb(134, 132, 132);
    border-radius: 4px;
}
article h2{
    float: right;
    margin-right: 25px;
    font-family: 'Lateef', cursive;
}
article > .art{
    width: 300px;
    height: 100px;
    overflow: hidden;
    margin: 25px;
}
article .art a{
    text-decoration: none;
    color: rgb(90, 86, 86);
}
article .art a:hover{
    color: rgb(19, 7, 73);
    font-weight: bold;
}
article .art > a img{
    width: 120px;
    height: 100px;
    float: right;
    border-radius: 4px;
}
article .art > a p{
    font-family: 'Almarai', sans-serif;
    text-align: right;
    width: 170px;
    margin-right: 10px;
}
